<%= form_for @parking_lot do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.label :spots_total %><br />
    <%= f.number_field :spots_total %>
  </p>
  <p>
    <%= f.label :spots_current %><br />
    <%= f.number_field :spots_current %>
  </p>
  <p>
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </p>
  <p>
    <%= f.label :schedule %><br />
    <%= f.text_field :schedule %>
  </p>
  <p>
    <%= f.label :owner_id %><br />
    <%= f.number_field :owner_id %>
  </p>
  <p><%= f.submit %></p>
<% end %>
