<% title "Parking Lots" %>

<%= render 'parking_lots/search_form' %>

<%= gmaps(:map_options => { "center_on_user" => false, "auto_zoom" => true}, #"zoom" => 18 },
          :markers     => { "data" => @json }) %>

<h3>Resultado</h3>
<% if params[:search] %>
  <p>Encontramos <%= pluralize(@parking_lots.count, 'estacionamento', 'estacionamentos') %> próximos à <b>"<%= params[:search] %>"</b>.</p>
<% end %>

<table class="table table-hover">
  <tr>
    <th></th>
    <th>Endereço</th>
    <th>Vagas disponíveis</th>
    <th>Preço por hora</th>
    <th></th>
  </tr>
  <% counter = 0 %>
  <% for parking_lot in @parking_lots %>
    <% counter += 1 %>
    <tr>
      <td><b class="lead label"><%= counter %></b></td>
      <td><%= parking_lot.address %></td>
      <td><%= parking_lot.spots_available %></td>
      <td>R$<%= parking_lot.current_price %></td>
      <td><%= link_to "Escolher", parking_lot, class: 'btn btn-primary' %></td>
    </tr>
  <% end %>
</table>
