<% title "Parking Lot" %>

<p>
  <strong>Address:</strong>
  <%= @parking_lot.address %>
</p>
<p>
  <strong>Spots Total:</strong>
  <%= @parking_lot.spots_total %>
</p>
<p>
  <strong>Spots Current:</strong>
  <%= @parking_lot.spots_current %>
</p>
<p>
  <strong>Pricing:</strong>
  <%= @parking_lot.pricing %>
</p>
<p>
  <strong>Schedule:</strong>
  <%= @parking_lot.schedule %>
</p>
<p>
  <strong>Owner:</strong>
  <%= @parking_lot.user_id %>
</p>

<p><%= link_to 'Reservar vaga', new_reservation_path, class: 'btn btn-large btn-primary' %></p>