<% title "Parking Lot" %>


<div class="row">
  <div class="span6">
    <%= gmaps4rails(@json) %>
  </div>
  <div class="span6">
    <h1><%= @parking_lot.name %></h1>
    <p class="lead"><%= @parking_lot.address %></p>
    <hr>
    <b>Preço por hora:</b><p class="text-info lead">R$ <%= @parking_lot.current_price %></p>
    <br>
    <b>Vagas disponíveis:</b> <span class="lead text-success"><%= @parking_lot.spots_current %></span> de <span class="lead text-danger"><%= @parking_lot.spots_total %></span><br>
    <div class="progress">
      <div class="bar bar-success" style="width: <%= @free_spots %>%;"></div>
      <div class="bar bar-danger" style="width: <%= 100 - @free_spots %>%;"></div>
    </div> 
    <b>Horário de funcionamento:</b><p><%= @parking_lot.schedule %></p>
    <br>
    <div class="row">
      <div class="span3">
        <p><%= link_to 'Reservar vaga', new_reservation_path, class: 'btn btn-large btn-primary' %></p>
      </div>
      <div class="span4"><small>É necessário criar uma conta para reservar uma vaga.</small></div>
    </div>
  </div>
</div>
